repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace
  - repo: 'https://github.com/fredrikekre/runic-pre-commit'
    rev: v2.0.1
    hooks:
      - id: runic
        additional_dependencies:
          - 'Runic@1'  # synchronize with .github/workflows/Checks.yml
